
node_modules/

.turbo/

dist/
.next/
out/

packages/program/target/
packages/program/.anchor/
test-ledger/

.idea/
.vscode/


.DS_Store
Thumbs.db

.env
.env.local
.env.*.local

*.log
npm-debug.log*

.target